.App {
  max-width: 120rem;
  margin: 8rem auto;
}


.header {
  display: flex;
  align-items: center;
  //margin-left: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-primary-light);
    cursor: pointer;
  }
}

.non-header {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dynamic-content {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  //height: 50rem;
  //padding: 2rem;
}